Github Commit-I2lsljBeaj2cObRZ.json
[
  {
    "createdAt": "2025-10-19T13:19:41.046Z",
    "updatedAt": "2025-10-19T13:36:20.000Z",
    "id": "I2lsljBeaj2cObRZ",
    "name": "Github Commit",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          688,
          608
        ],
        "id": "cf8bb0fc-85e3-4717-9ec8-1d94c8e58f80",
        "name": "n8n",
        "credentials": {
          "n8nApi": {
            "id": "JW7e0oIwMdVWoqVt",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n    {\n\t\t\"fieldLabel\": \"Select a project\",\n\t\t\"fieldType\": \"dropdown\",\n\t\t\"fieldOptions\": {\n\t\t\t\"values\":{{ JSON.stringify($json.values.map(item=>({'option':item.name}))) }}\n\t\t},\n\t\t\"requiredField\": true\n\t}\n]",
          "options": {
            "formTitle": "Select a Project for version control"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          1040,
          672
        ],
        "id": "74830bf9-9ab5-46ec-ac8b-90dfc479dfe3",
        "name": "Form",
        "webhookId": "44f6854d-4cda-4b7d-8642-ad893354d296"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('On form submission').item.json.formQueryParameters && $('On form submission').item.json.formQueryParameters.id != null  }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "5a839b58-075d-4537-ad22-2572bdef2c44"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "selected_project"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          512,
          432
        ],
        "id": "ca73722f-4a93-4703-a76f-a728a35a108d",
        "name": "Switch"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2514ed01-ff5d-43bb-90c1-a676c7af0a75",
                "leftValue": "={{ $json.isArchived }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          800,
          672
        ],
        "id": "49314cd0-7b4c-46d9-8b8d-d1373d5d9b00",
        "name": "Filter"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Project Not Foound",
          "completionMessage": "=Your project  \"{{ $('On form submission').item.json.formQueryParameters.name }}\" doesn't exist.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          1600,
          544
        ],
        "id": "d83aec72-c082-4920-92fa-dfab872b11af",
        "name": "Project not found",
        "webhookId": "73c34803-3b2e-49f8-b569-2d468ad4e2b9"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "da7a365b-0d75-464d-918e-ac6af190146d",
                "name": "id",
                "value": "={{ $('Find by project id').item.json.id }}",
                "type": "string"
              },
              {
                "id": "e4d6ee3d-613b-47d4-9e06-132de75dd609",
                "name": "name",
                "value": "={{ $('Find by project id').item.json.name }}",
                "type": "string"
              },
              {
                "id": "0ab5fac1-354b-4cea-bc71-fb62a153cefe",
                "name": "github_file_name",
                "value": "={{ $('Find by project id').item.json.name }}-{{ $('Find by project id').item.json.id }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1920,
          368
        ],
        "id": "3f32de7c-963d-4e97-b06e-c9e15e802be4",
        "name": "Workflow Values"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit the new workflow?",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Yes"
                    },
                    {
                      "option": "No"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "=New project found",
            "formDescription": "=Project: \"{{$('Workflow Values').item.json.github_file_name}}\"\n\nThe project is not found in Github. Want to start a new project commit?"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2320,
          688
        ],
        "id": "f8385f43-97f4-4f69-b50d-c486c974e444",
        "name": "Commit as New",
        "webhookId": "c476e4ea-2b70-4185-8b0b-f45065a2b6a2"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['Commit the new workflow?'] }}",
                      "rightValue": "Yes",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b814b0e5-b09d-47eb-838f-f8d8b77f5047"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2480,
          688
        ],
        "id": "f214e22a-87f8-45b7-bde8-ddf923283ea8",
        "name": "Is commit new"
      },
      {
        "parameters": {
          "operation": "toJson",
          "options": {
            "format": true
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1600,
          368
        ],
        "id": "5db6dbc3-b011-43d7-a382-996c4639bcb5",
        "name": "JSON File"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1760,
          368
        ],
        "id": "f50d2274-0b10-40d9-89d0-af226e60345d",
        "name": "To Base64"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "benehlo",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_test",
            "mode": "list",
            "cachedResultName": "n8n_test",
            "cachedResultUrl": "https://github.com/benehlo/n8n_test"
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "fileContent": "={{ $('To Base64').item.json.data }}",
          "commitMessage": "={{ $json['Commit comment'] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2848,
          272
        ],
        "id": "5f7b1436-0297-4a5e-b211-695a9c51b6ce",
        "name": "Update File",
        "webhookId": "7807fe16-db54-4c7d-936b-d61e7909061a",
        "credentials": {
          "githubApi": {
            "id": "r0atuRzTTSsBt1jE",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "benehlo",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_test",
            "mode": "list",
            "cachedResultName": "n8n_test",
            "cachedResultUrl": "https://github.com/benehlo/n8n_test"
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": ""
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2320,
          368
        ],
        "id": "b808efa0-2fee-44e8-badd-88962c388dbf",
        "name": "Download File",
        "webhookId": "2627f6eb-e6f9-44d7-b943-508c8472f316",
        "credentials": {
          "githubApi": {
            "id": "r0atuRzTTSsBt1jE",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "99923f83-9a4d-467e-830e-33d7449149fb",
                "leftValue": "={{ $('Agg. to Array').item.json.github_file_names }}",
                "rightValue": "={{ $json.github_file_name }}",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2080,
          368
        ],
        "id": "50931e5c-1d4c-4760-a37f-afb46ee2729b",
        "name": "Found in github"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "No Update Detected",
          "completionMessage": "No change is detected.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2704,
          448
        ],
        "id": "f594c824-d559-4b2e-86b6-4ae88499e4f1",
        "name": "No update detected",
        "webhookId": "1014f819-d761-42f4-afbc-f3968ad7c44a"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.id}}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          1392,
          464
        ],
        "id": "561c2899-aa8d-4a4f-be0b-c4a3c03951a6",
        "name": "Find by project id",
        "alwaysOutputData": false,
        "retryOnFail": false,
        "credentials": {
          "n8nApi": {
            "id": "JW7e0oIwMdVWoqVt",
            "name": "n8n account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "values",
          "include": "specifiedFields",
          "fieldsToInclude": "id, name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          928,
          720
        ],
        "id": "dcfbafc5-7fb2-4abe-9dfd-30254c8b3bdf",
        "name": "Option aggregate"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst all_projects = $('Option aggregate').first().json.values;\nconst nameToFind = $input.first().json['Select a project']; // Replace with the name you want to find\nconst found = all_projects.find(item => item.name === nameToFind);\nreturn [{ json: { id: found ? found.id : null } }];\n\n\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          592
        ],
        "id": "06551298-c7c5-4411-9baa-ca5b66537c2c",
        "name": "Selected id"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fffbcd0c-4f17-4634-a79e-33ff6fb213e7",
                "name": "id",
                "value": "={{ $('On form submission').item.json.formQueryParameters.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          272
        ],
        "id": "c5ae040f-ea68-4731-92e9-2deee4c40433",
        "name": "Pass in id"
      },
      {
        "parameters": {
          "formTitle": "Commit workflow changes",
          "formDescription": "=Commit your workflow changes into Github",
          "options": {
            "appendAttribution": false,
            "buttonLabel": "Next",
            "path": "commit",
            "ignoreBots": true
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          0,
          432
        ],
        "id": "916ef7c9-5415-4af6-95ea-11130e821f64",
        "name": "On form submission",
        "webhookId": "e3f3b1db-fd8c-4eb6-8a30-eea27306b92d"
      },
      {
        "parameters": {
          "content": "## Click [here](http://localhost:5678/form/commit?id=I2lsljBeaj2cObRZ) to commit change ",
          "height": 140,
          "width": 440,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "867db429-cfac-4d1c-b09a-704c41a7fd5f",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Get all files from Github",
          "height": 260,
          "width": 320,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          144,
          352
        ],
        "typeVersion": 1,
        "id": "ab44376e-4ea3-496a-a730-5a329d559062",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "benehlo",
            "mode": "list",
            "cachedResultName": "benehlo",
            "cachedResultUrl": "https://github.com/benehlo"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_test",
            "mode": "list",
            "cachedResultName": "n8n_test",
            "cachedResultUrl": "https://github.com/benehlo/n8n_test"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          160,
          432
        ],
        "id": "6a6c3cec-52c2-4e0d-b2ab-e5bb906905d6",
        "name": "GIthub get all",
        "webhookId": "171d0104-1b96-4953-bfb3-18821c7fd7d2",
        "alwaysOutputData": false,
        "credentials": {
          "githubApi": {
            "id": "r0atuRzTTSsBt1jE",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "github_file_names",
          "include": "specifiedFields",
          "fieldsToInclude": "name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          320,
          432
        ],
        "id": "0d30c723-d058-445f-9a97-b066321c07d5",
        "name": "Agg. to Array"
      },
      {
        "parameters": {
          "content": "## With designated workflow id\nFrom form's GET argument",
          "height": 260,
          "width": 640
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          672,
          208
        ],
        "typeVersion": 1,
        "id": "0ed166b7-96ce-47eb-9c7f-f6c49de66362",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Without a designated workflow id\nFrom form's GET argument",
          "height": 360,
          "width": 640,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          672,
          528
        ],
        "typeVersion": 1,
        "id": "b78ae579-68da-4a59-a1c6-a78487e655fb",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Prepare the latest workflow",
          "height": 440,
          "width": 660,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1568,
          288
        ],
        "typeVersion": 1,
        "id": "22ffdb94-5a6e-4541-9e66-e2bad7bb0dfa",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "benehlo",
            "mode": "list",
            "cachedResultName": "benehlo",
            "cachedResultUrl": "https://github.com/benehlo"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_test",
            "mode": "list",
            "cachedResultName": "n8n_test",
            "cachedResultUrl": "https://github.com/benehlo/n8n_test"
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "fileContent": "={{ $('To Base64').item.json.data }}",
          "commitMessage": "={{ $json['Commit comment'] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2832,
          688
        ],
        "id": "f79a17fd-2ed2-45b1-adc1-ee71b8f4d78e",
        "name": "Commit new workflow",
        "webhookId": "17c8a323-88d7-4475-a062-c217639b1a66",
        "credentials": {
          "githubApi": {
            "id": "r0atuRzTTSsBt1jE",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fd9b7654-3ec7-4e91-9607-9e0caabbffdf",
                "leftValue": "={{ $json.content.replace(/\\n/g, '') }}",
                "rightValue": "={{ $('To Base64').item.json.data }}",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2512,
          368
        ],
        "id": "4ce69f6b-e0d7-4967-8639-2fd969491031",
        "name": "Check any update"
      },
      {
        "parameters": {
          "content": "## Update workflow if any",
          "height": 380,
          "width": 940,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          208
        ],
        "typeVersion": 1,
        "id": "b71511f2-f73d-4779-9b2a-f1bd5811c224",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Commit new workflow",
          "height": 320,
          "width": 940,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          608
        ],
        "typeVersion": 1,
        "id": "50c1f6a8-3072-405a-b991-78ff4e400a7d",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Commit Successful",
          "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          3008,
          272
        ],
        "id": "727d84b0-aa53-4b97-add4-1a0f094b8e7a",
        "name": "Update successful",
        "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Commit Completed Successfully",
          "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          3024,
          688
        ],
        "id": "5e588837-f118-42b9-a712-e6bcc9c56380",
        "name": "New Workflow Commit Successfully",
        "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit comment",
                "fieldType": "textarea",
                "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "Commit workflow",
            "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2640,
          688
        ],
        "id": "fa4e2730-a489-4585-ba4d-7d1674c4035d",
        "name": "Comment for new workflow",
        "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit comment",
                "fieldType": "textarea",
                "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "Commit workflow",
            "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}",
            "buttonLabel": "Submit"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2688,
          272
        ],
        "id": "8d16e9b1-1843-485d-a6db-bcde05123067",
        "name": "Comment for commit",
        "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          608,
          16
        ],
        "typeVersion": 1,
        "id": "526f9458-7d1f-4f83-8b4c-11aa16e3c31e",
        "name": "Sticky Note7"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          304,
          176
        ],
        "typeVersion": 1,
        "id": "6f3eaef5-7d39-43c0-937d-de37d068b2a8",
        "name": "Sticky Note8"
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Pass in id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Option aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Values": {
        "main": [
          [
            {
              "node": "Found in github",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit as New": {
        "main": [
          [
            {
              "node": "Is commit new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is commit new": {
        "main": [
          [
            {
              "node": "Comment for new workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON File": {
        "main": [
          [
            {
              "node": "To Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Base64": {
        "main": [
          [
            {
              "node": "Workflow Values",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Check any update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Found in github": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Commit as New",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find by project id": {
        "main": [
          [
            {
              "node": "JSON File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Project not found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Form": {
        "main": [
          [
            {
              "node": "Selected id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Option aggregate": {
        "main": [
          [
            {
              "node": "Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Selected id": {
        "main": [
          [
            {
              "node": "Find by project id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass in id": {
        "main": [
          [
            {
              "node": "Find by project id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "GIthub get all",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GIthub get all": {
        "main": [
          [
            {
              "node": "Agg. to Array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agg. to Array": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit new workflow": {
        "main": [
          [
            {
              "node": "New Workflow Commit Successfully",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check any update": {
        "main": [
          [
            {
              "node": "Comment for commit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No update detected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update File": {
        "main": [
          [
            {
              "node": "Update successful",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comment for new workflow": {
        "main": [
          [
            {
              "node": "Commit new workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comment for commit": {
        "main": [
          [
            {
              "node": "Update File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "8f2df097-9a04-4f69-9e14-b821067fd35a",
    "triggerCount": 1,
    "shared": [
      {
        "createdAt": "2025-10-19T13:19:41.051Z",
        "updatedAt": "2025-10-19T13:19:41.051Z",
        "role": "workflow:owner",
        "workflowId": "I2lsljBeaj2cObRZ",
        "projectId": "smqD3en6ntzThqUk",
        "project": {
          "createdAt": "2025-10-06T21:57:47.383Z",
          "updatedAt": "2025-10-06T21:59:19.475Z",
          "id": "smqD3en6ntzThqUk",
          "name": "Benedikt Hülshorst <benedikt.huelshorst@alumni.fh-aachen.de>",
          "type": "personal",
          "icon": null,
          "description": null,
          "projectRelations": [
            {
              "createdAt": "2025-10-06T21:57:47.383Z",
              "updatedAt": "2025-10-06T21:57:47.383Z",
              "userId": "07d13922-f245-4e51-98d2-acbaa5a0715a",
              "projectId": "smqD3en6ntzThqUk",
              "user": {
                "createdAt": "2025-10-06T21:57:46.742Z",
                "updatedAt": "2025-10-19T12:36:02.279Z",
                "id": "07d13922-f245-4e51-98d2-acbaa5a0715a",
                "email": "benedikt.huelshorst@alumni.fh-aachen.de",
                "firstName": "Benedikt",
                "lastName": "Hülshorst",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-10-06T22:00:12.862Z",
                  "personalization_survey_n8n_version": "1.114.3",
                  "companySize": "personalUser",
                  "companyType": "education",
                  "role": "other",
                  "roleOther": "Student",
                  "reportedSource": "other",
                  "reportedSourceOther": "Teacher"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Bll1QuEaQCAUrgmH",
                  "userActivatedAt": 1760877362237
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2025-10-19",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "createdAt": "2025-10-19T11:12:17.893Z",
        "updatedAt": "2025-10-19T11:12:17.893Z",
        "id": "MvqbcnnCgekDPIPi",
        "name": "Prod"
      }
    ]
  }
]