Github Commit Demo.json

  {
    "createdAt": "2025-10-20T07:30:43.224Z",
    "updatedAt": "2025-10-20T07:33:09.000Z",
    "id": "u0Rf8wp2rJhzkFlj",
    "name": "Github Commit Demo",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          688,
          624
        ],
        "id": "f64760f3-0734-45d0-979c-1878816ef02d",
        "name": "n8n",
        "credentials": {
          "n8nApi": {
            "id": "JW7e0oIwMdVWoqVt",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n    {\n\t\t\"fieldLabel\": \"Select a project\",\n\t\t\"fieldType\": \"dropdown\",\n\t\t\"fieldOptions\": {\n\t\t\t\"values\":{{ JSON.stringify($json.values.map(item=>({'option':item.name}))) }}\n\t\t},\n\t\t\"requiredField\": true\n\t}\n]",
          "options": {
            "formTitle": "Select a Project for version control"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          1040,
          688
        ],
        "id": "6f68adde-b33c-48a3-bac8-50532abc0ead",
        "name": "Form",
        "webhookId": "44f6854d-4cda-4b7d-8642-ad893354d296"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('On form submission').item.json.formQueryParameters && $('On form submission').item.json.formQueryParameters.id != null  }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "5a839b58-075d-4537-ad22-2572bdef2c44"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "selected_project"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          512,
          432
        ],
        "id": "326709de-a793-4242-9071-ac499b117eb3",
        "name": "Switch"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2514ed01-ff5d-43bb-90c1-a676c7af0a75",
                "leftValue": "={{ $json.isArchived }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          800,
          688
        ],
        "id": "cbedab28-f0a3-4291-a6d5-ec435a7c27f7",
        "name": "Filter"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Project Not Foound",
          "completionMessage": "=Your project  \"{{ $('On form submission').item.json.formQueryParameters.name }}\" doesn't exist.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          1600,
          560
        ],
        "id": "019a9043-983e-4992-8317-313e1c892cb1",
        "name": "Project not found",
        "webhookId": "73c34803-3b2e-49f8-b569-2d468ad4e2b9"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "da7a365b-0d75-464d-918e-ac6af190146d",
                "name": "id",
                "value": "={{ $('Find by project id').item.json.id }}",
                "type": "string"
              },
              {
                "id": "e4d6ee3d-613b-47d4-9e06-132de75dd609",
                "name": "name",
                "value": "={{ $('Find by project id').item.json.name }}",
                "type": "string"
              },
              {
                "id": "0ab5fac1-354b-4cea-bc71-fb62a153cefe",
                "name": "github_file_name",
                "value": "={{ $('Find by project id').item.json.name }}-{{ $('Find by project id').item.json.id }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1920,
          368
        ],
        "id": "44c81905-9618-437d-9b54-1c088d331f1c",
        "name": "Workflow Values"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit the new workflow?",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Yes"
                    },
                    {
                      "option": "No"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "=New project found",
            "formDescription": "=Project: \"{{$('Workflow Values').item.json.github_file_name}}\"\n\nThe project is not found in Github. Want to start a new project commit?"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2320,
          704
        ],
        "id": "bc2d1a48-8df5-4787-9fd7-ff3060c3dc01",
        "name": "Commit as New",
        "webhookId": "c476e4ea-2b70-4185-8b0b-f45065a2b6a2"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['Commit the new workflow?'] }}",
                      "rightValue": "Yes",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b814b0e5-b09d-47eb-838f-f8d8b77f5047"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2480,
          704
        ],
        "id": "15507f33-441c-4420-bec8-3c01c9147f30",
        "name": "Is commit new"
      },
      {
        "parameters": {
          "operation": "toJson",
          "options": {
            "format": true
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1600,
          368
        ],
        "id": "6873482e-4352-453c-8eae-7693621cb5f9",
        "name": "JSON File"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1760,
          368
        ],
        "id": "6adc0906-7c1e-4c93-a017-1a025cd98894",
        "name": "To Base64"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": ""
          },
          "repository": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "fileContent": "={{ $('To Base64').item.json.data }}",
          "commitMessage": "={{ $json['Commit comment'] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2848,
          272
        ],
        "id": "3099538e-72ef-4813-acbb-25fd478cc6d0",
        "name": "Update File",
        "webhookId": "7807fe16-db54-4c7d-936b-d61e7909061a",
        "credentials": {
          "githubApi": {
            "id": "r0atuRzTTSsBt1jE",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": ""
          },
          "repository": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": ""
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2320,
          368
        ],
        "id": "4f23d18b-4371-4c08-8c06-eb3014251570",
        "name": "Download File",
        "webhookId": "2627f6eb-e6f9-44d7-b943-508c8472f316",
        "credentials": {
          "githubApi": {
            "id": "r0atuRzTTSsBt1jE",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "99923f83-9a4d-467e-830e-33d7449149fb",
                "leftValue": "={{ $('Agg. to Array').item.json.github_file_names }}",
                "rightValue": "={{ $json.github_file_name }}",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2080,
          368
        ],
        "id": "e70bf904-66e2-4667-8ed4-52d0e834b22b",
        "name": "Found in github"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "No Update Detected",
          "completionMessage": "No change is detected.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2704,
          448
        ],
        "id": "6a58eaae-3f92-4ce7-b14d-20b94c63cb48",
        "name": "No update detected",
        "webhookId": "1014f819-d761-42f4-afbc-f3968ad7c44a"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.id}}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          1392,
          464
        ],
        "id": "a9ce9958-3585-49a4-a7f2-51c95ef49a8d",
        "name": "Find by project id",
        "alwaysOutputData": false,
        "retryOnFail": false,
        "credentials": {
          "n8nApi": {
            "id": "JW7e0oIwMdVWoqVt",
            "name": "n8n account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "values",
          "include": "specifiedFields",
          "fieldsToInclude": "id, name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          928,
          736
        ],
        "id": "819a361f-7499-45ef-bb80-5fbd8cccb019",
        "name": "Option aggregate"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst all_projects = $('Option aggregate').first().json.values;\nconst nameToFind = $input.first().json['Select a project']; // Replace with the name you want to find\nconst found = all_projects.find(item => item.name === nameToFind);\nreturn [{ json: { id: found ? found.id : null } }];\n\n\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          608
        ],
        "id": "496c9b7b-cdef-4f7a-9e4e-0f398d51447a",
        "name": "Selected id"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fffbcd0c-4f17-4634-a79e-33ff6fb213e7",
                "name": "id",
                "value": "={{ $('On form submission').item.json.formQueryParameters.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          272
        ],
        "id": "33517281-a50d-45be-895f-bf488a13f79f",
        "name": "Pass in id"
      },
      {
        "parameters": {
          "formTitle": "Commit workflow changes",
          "formDescription": "=Commit your workflow changes into Github",
          "options": {
            "appendAttribution": false,
            "buttonLabel": "Next",
            "path": "commit",
            "ignoreBots": true
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          0,
          432
        ],
        "id": "277ec1da-4966-45a4-9fcc-3f31769c33eb",
        "name": "On form submission",
        "webhookId": "e3f3b1db-fd8c-4eb6-8a30-eea27306b92d"
      },
      {
        "parameters": {
          "content": "## Click [here](https://your-n8n-url/form/commit?id=123456789ABC) to commit change ",
          "height": 140,
          "width": 440,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "5de210c0-756a-44a1-a6b8-7b6c7f85df7b",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Get all files from Github",
          "height": 260,
          "width": 320,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          144,
          352
        ],
        "typeVersion": 1,
        "id": "3d88926b-4b58-4e9c-8e1b-5d85be5adbc8",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "repository": {
            "__rl": true,
            "mode": "list",
            "value": ""
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          160,
          432
        ],
        "id": "de521db3-fc22-47bf-9a90-ea2db4dbca22",
        "name": "GIthub get all",
        "webhookId": "171d0104-1b96-4953-bfb3-18821c7fd7d2",
        "alwaysOutputData": false,
        "credentials": {
          "githubApi": {
            "id": "r0atuRzTTSsBt1jE",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "github_file_names",
          "include": "specifiedFields",
          "fieldsToInclude": "name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          320,
          432
        ],
        "id": "afa61cde-a225-4278-8428-2d0857c810c7",
        "name": "Agg. to Array"
      },
      {
        "parameters": {
          "content": "## With designated workflow id\nFrom form's GET argument",
          "height": 260,
          "width": 640
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          672,
          208
        ],
        "typeVersion": 1,
        "id": "2626a9ab-d9ca-4a1a-83d8-eea371ef57f6",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Without a designated workflow id\nFrom form's GET argument",
          "height": 360,
          "width": 640,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          672,
          528
        ],
        "typeVersion": 1,
        "id": "fb8be805-897d-4d03-8954-b3e8390a4faa",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Prepare the latest workflow",
          "height": 440,
          "width": 660,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1568,
          288
        ],
        "typeVersion": 1,
        "id": "4ff01b79-bc66-444c-986a-bd7a30e25dbc",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "repository": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "fileContent": "={{ $('To Base64').item.json.data }}",
          "commitMessage": "={{ $json['Commit comment'] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2832,
          704
        ],
        "id": "2c8140a5-8d3c-40d6-8104-bf636ac46940",
        "name": "Commit new workflow",
        "webhookId": "17c8a323-88d7-4475-a062-c217639b1a66",
        "credentials": {
          "githubApi": {
            "id": "r0atuRzTTSsBt1jE",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fd9b7654-3ec7-4e91-9607-9e0caabbffdf",
                "leftValue": "={{ $json.content.replace(/\\n/g, '') }}",
                "rightValue": "={{ $('To Base64').item.json.data }}",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2512,
          368
        ],
        "id": "1ee366ef-8428-497c-8fdb-47572747430e",
        "name": "Check any update"
      },
      {
        "parameters": {
          "content": "## Update workflow if any",
          "height": 380,
          "width": 940,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          208
        ],
        "typeVersion": 1,
        "id": "4db0a183-8868-42ed-9be9-df281a61164d",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Commit new workflow",
          "height": 320,
          "width": 940,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          624
        ],
        "typeVersion": 1,
        "id": "a3b59fca-ba6e-40b5-8016-5f61e4e58d56",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Commit Successful",
          "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          3008,
          272
        ],
        "id": "823d32fa-7efa-4472-b0b2-b19a1b5cc4e0",
        "name": "Update successful",
        "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Commit Completed Successfully",
          "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          3024,
          704
        ],
        "id": "5776180e-ef69-4048-9374-c99788c349c0",
        "name": "New Workflow Commit Successfully",
        "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit comment",
                "fieldType": "textarea",
                "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "Commit workflow",
            "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2640,
          704
        ],
        "id": "06267bd4-6c0c-4f4e-ae66-525efe6e729f",
        "name": "Comment for new workflow",
        "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit comment",
                "fieldType": "textarea",
                "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "Commit workflow",
            "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}",
            "buttonLabel": "Submit"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2688,
          272
        ],
        "id": "27b98dbf-369f-419b-a7e6-1719eae9c9f6",
        "name": "Comment for commit",
        "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Pass in id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Option aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Values": {
        "main": [
          [
            {
              "node": "Found in github",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit as New": {
        "main": [
          [
            {
              "node": "Is commit new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is commit new": {
        "main": [
          [
            {
              "node": "Comment for new workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON File": {
        "main": [
          [
            {
              "node": "To Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Base64": {
        "main": [
          [
            {
              "node": "Workflow Values",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Check any update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Found in github": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Commit as New",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find by project id": {
        "main": [
          [
            {
              "node": "JSON File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Project not found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Form": {
        "main": [
          [
            {
              "node": "Selected id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Option aggregate": {
        "main": [
          [
            {
              "node": "Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Selected id": {
        "main": [
          [
            {
              "node": "Find by project id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass in id": {
        "main": [
          [
            {
              "node": "Find by project id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "GIthub get all",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GIthub get all": {
        "main": [
          [
            {
              "node": "Agg. to Array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agg. to Array": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit new workflow": {
        "main": [
          [
            {
              "node": "New Workflow Commit Successfully",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check any update": {
        "main": [
          [
            {
              "node": "Comment for commit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No update detected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update File": {
        "main": [
          [
            {
              "node": "Update successful",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comment for new workflow": {
        "main": [
          [
            {
              "node": "Commit new workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comment for commit": {
        "main": [
          [
            {
              "node": "Update File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "eb4f2d3d-44f4-47f9-b124-319d2e5b1037",
    "triggerCount": 0,
    "shared": [
      {
        "createdAt": "2025-10-20T07:30:43.237Z",
        "updatedAt": "2025-10-20T07:30:43.237Z",
        "role": "workflow:owner",
        "workflowId": "u0Rf8wp2rJhzkFlj",
        "projectId": "smqD3en6ntzThqUk",
        "project": {
          "createdAt": "2025-10-06T21:57:47.383Z",
          "updatedAt": "2025-10-06T21:59:19.475Z",
          "id": "smqD3en6ntzThqUk",
          "name": "Benedikt Hülshorst <benedikt.huelshorst@alumni.fh-aachen.de>",
          "type": "personal",
          "icon": null,
          "description": null,
          "projectRelations": [
            {
              "createdAt": "2025-10-06T21:57:47.383Z",
              "updatedAt": "2025-10-06T21:57:47.383Z",
              "userId": "07d13922-f245-4e51-98d2-acbaa5a0715a",
              "projectId": "smqD3en6ntzThqUk",
              "user": {
                "createdAt": "2025-10-06T21:57:46.742Z",
                "updatedAt": "2025-10-19T22:21:22.000Z",
                "id": "07d13922-f245-4e51-98d2-acbaa5a0715a",
                "email": "benedikt.huelshorst@alumni.fh-aachen.de",
                "firstName": "Benedikt",
                "lastName": "Hülshorst",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-10-06T22:00:12.862Z",
                  "personalization_survey_n8n_version": "1.114.3",
                  "companySize": "personalUser",
                  "companyType": "education",
                  "role": "other",
                  "roleOther": "Student",
                  "reportedSource": "other",
                  "reportedSourceOther": "Teacher"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Bll1QuEaQCAUrgmH",
                  "userActivatedAt": 1760877362237
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2025-10-20",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "createdAt": "2025-10-19T11:12:17.893Z",
        "updatedAt": "2025-10-19T11:12:17.893Z",
        "id": "MvqbcnnCgekDPIPi",
        "name": "Prod"
      }
    ]
  }
